@import
    'normalize',
    'skeleton';

// orange default
$theme-color: #fff; // dark #b84712
$accent-color: darken($theme-color, 10); // That is, 10% darker than the brand-color.

// other colors
$color-blue: #6FC8E1;
$color-orange: #FE8B46;
$color-yellow: #E6C257;

// fonts
$body-font: 'Copernicus-Book', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$header-font: 'GalaxiePolaris-Light', "Helvetica", $body-font;

// Type color
$light-grey: #696158;
$dark-grey: #1f1f1f;
$color-white: #fff;

/* Custom mixins & Placeholders */

// border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
}
